h1 {  
    color: red;  
}

.highlight {
    background-color: black;
    color: white;
}

#intro {
    font-size: 20px;
}

#About-me > p {
    color: teal;
    font-family: monospace;
}

. {
    background-color: black;
}

.my-name {
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: monospace;
}

#box:disabled {
   
    color: blue;
}

.header-link {
    padding-right: 10px;
    text-decoration: none;
    border: 5px white;
    
}

.button-link:hover {
    padding-right: 10px;
    background-color: #D6E5CD;
    cursor: pointer;
    text-decoration: none;
    border: 5px teal;
    border-radius: 5px;
}

.header-link-container {
    height: 20px;
}


* {
    background-color: white;
}

.intro {
    color: teal;
   font-size: x-large;
    text-decoration: solid;
    font-family: monospace;
}

.intro-case {
    font-family: monospace;
    font-size: x-large;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.main-pic-container {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 500px;) {
    body {
        background-color: aqua;
    }
}



